body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
}
.sidenav {
    background-color: #2D2C2C;
    width: 227px;
    height: 625px;
    font-size: 30px;
}
.sidenav-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.sidenav img {
    position: relative;
    margin: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    left: -10%;
}
.sidenav a {
    text-decoration: none;
    color: white;
    margin: 0;
}
.sub-sidebar button{
    position: relative;
    background-color:#464646;
    width: 178px;
    height: 49px;
    left: 21px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.sub-sidebar button:nth-of-type(2){
    background-color:  #46B412;
}
.sub-sidebar button:hover{
    background-color:  #46B412;
}
.sub-sidebar a{
    text-decoration: none;
    color: white;
}
.container {
    position: absolute;
    top: 20%;
    left: 20%;
}
.container a {
    color: black;
}
.container table {
    border: 2px solid black;
    width: 1000px;
    height: 100px;
}
.container table tr th {
    border: 1px solid black;
    background-color: #2D2C2C;
    color: white;
}
.container table tr td {
    border: 1px solid black;
    background-color: #ffffff;
    text-align: center;
}
.container button:first-child{
    background-color: #61f11e;
    font-size: 13px;
    border: none;
    position: relative;
    border-radius: 12px;
    left: -10px;
    padding: 5px 22px;
}
.container button:last-child{
    background-color: #697184;
    font-size: 13px;
    border: none;
    position: relative;
    border-radius: 12px;
    left: 10px;
    padding: 5px 15px;
}
.container button a {
    color: white;
    text-decoration: none;
}
.container button:hover {
    background-color: #61f11e31;
}
.create a{
    position: relative;
    float: right;
    border-radius: 15px;
    background-color: #61f11e;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
}
.create a:hover {
    background-color: #61f11e7c;
}
.status {
    position: absolute;
    bottom: 0;
    left: 50px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.39);
    display: flex;
    align-items: center;
    justify-content: center;
}
.status img {
    width: 10px;
    height: 10px;
    left: -5px;
    
}